.img_angry
{
	width: 15px;
	height: 15px;
}
.img_cheesy
{
	width: 15px;
	height: 15px;
}
.img_cool
{
	width: 21px;
	height: 15px;
}
.img_fist
{
	width: 33px;
	height: 15px;
}
.img_grin
{
	width: 15px;
	height: 15px;
}
.img_huh
{
	width: 15px;
	height: 22px;
}
.img_kiss
{
	width: 15px;
	height: 15px;
}
.img_rtfm
{
	width: 24px;
	height: 23px;
}
.img_sad
{
	width: 15px;
	height: 15px;
}
.img_shocked
{
	width: 15px;
	height: 15px;
}
.img_smiley
{
	width: 15px;
	height: 15px;
}
.img_smiley1
{
	width: 15px;
	height: 15px;
}
.img_smiley10
{
	width: 15px;
	height: 15px;
}
.img_smiley11
{
	width: 15px;
	height: 15px;
}
.img_smiley12
{
	width: 15px;
	height: 20px;
}
.img_smiley1
{
	width: 28px;
	height: 23px;
}
.img_smiley2
{
	width: 15px;
	height: 15px;
}
.img_smiley3
{
	width: 15px;
	height: 15px;
}
.img_smiley4
{
	width: 21px;
	height: 16px;
}
.img_smiley5
{
	width: 25px;
	height: 15px;
}
.img_smiley6
{
	width: 23px;
	height: 15px;
}
.img_smiley7
{
	width: 15px;
	height: 15px;
}
.img_smiley8
{
	width: 15px;
	height: 15px;
}
.img_smiley9
{
	width: 15px;
	height: 15px;
}
.img_wink
{
	width: 15px;
	height: 15px;
}
.img_question
{
	width: 10px;
	height: 15px;
}
.img_msg
{
	width: 16px;
	height: 16px;
}
.img_at
{
	width: 19px;
	height: 17px;
}
.img_error
{
	width: 40px;
	height: 40px;
}
.img_german
{
	width: 60px;
	height: 30px;
}
.img_english
{
	width: 60px;
	height: 30px;
}
.img_russian
{
	width: 60px;
	height: 30px;
}
.img_line0
{
	width: 25px;
	height: 20px;
}
.img_line1
{
	width: 25px;
	height: 20px;
}
.img_line2
{
	width: 25px;
	height: 20px;
}
.img_line3
{
	width: 25px;
	height: 20px;
}
.img_edit
{
	width: 22px;
	height: 22px;
}
.img_remove
{
	width: 22px;
	height: 22px;
}
.img_up
{
	width: 14px;
	height: 14px;
}
.img_down
{
	width: 14px;
	height: 14px;
}
.img_send
{
	width: 22px;
	height: 22px;
}
.img_palette
{
	width: 24px;
	height: 24px;
}
.img_minimize
{
	width: 15px;
	height: 15px;
}
.img_restore
{
	width: 15px;
	height: 15px;
}
.img_menu_admin
{
	width: 30px;
	height: 30px;
}
.img_menu_adminmode
{
	width: 30px;
	height: 30px;
}
.img_menu_color
{
	width: 30px;
	height: 30px;
}
.img_menu_help
{
	width: 30px;
	height: 30px;
}
.img_menu_log
{
	width: 30px;
	height: 30px;
}
.img_menu_logout
{
	width: 30px;
	height: 30px;
}
.img_menu_nosmileys
{
	width: 30px;
	height: 30px;
}
.img_menu_profile
{
	width: 30px;
	height: 30px;
}
.img_menu_rooms
{
	width: 30px;
	height: 30px;
}
.img_menu_scrolling
{
	width: 30px;
	height: 30px;
}
.img_menu_separator
{
	width: 2px;
	height: 30px;
}
.img_menu_showtime
{
	width: 30px;
	height: 30px;
}
.img_menu_smileys
{
	width: 30px;
	height: 30px;
}
.img_menu_usersearch
{
	width: 30px;
	height: 30px;
}
