A
{
	color: #132B0F;
}
A:active
{
	color: #0060FF;
}
A:hover
{
	color: #0060FF;
}

TD,.normaltext
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 10pt;
	color: #000000;
}
.smalltext
{
	font-size: 8pt;
}

TH
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #56814F;
}

TABLE.outer
{
	background-color: #000000;
}

TR.row1
{
	background-color: #A5C4A1;
}
TR.row2
{
	background-color: #ECFAE9;
}

BODY
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 10pt;
	color: #000000;
	background-color: #FFFBDB;
}
.bigtext
{
	font-size: 120%;
}
.headertext
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 10pt;
	color: #000000;
}
.bigheadertext
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 14pt;
	color: #000000;
}

input.plain
{
	background-color: #D0D0D0;
	border: 1px solid #606060;
}
