<html>
<HEAD>
<title>{CHATNAME}</title>
<base href="{HTMLURL}">
</head>
<frameset rows="0,75,*,70,30,0" frameborder=0 border=0 framespacing=0>
	<frame name=data src="{CGI}&action=data" scrolling=no noresize>
	<frame name=rooms src="logo.html" scrolling=no>
	<frameset cols="*,200">
		<frame name=messages src="dummy.html" scrolling=auto>
		<frame name=users src="dummy.html" scrolling=auto>
	</frameset>
	<frame name=input src="dummy.html" scrolling=no>
	<frame name=options src="dummy.html" scrolling=no>
	<frame name=dummy src="dummy.html" scrolling=no noresize>
</frameset>
</html> 