<html>
<head>
<base href="{HTMLURL}">
<link rel="stylesheet" href="style.css">
<title>{CHATNAME}</title>
</head>
<body id="body">
<table align=center border=0 cellspacing=0 id="lines"><tr><td>  <!-- Netscape compatibility -->

<table border=0 cellspacing=1>
<tr><th><b>
Fehler
</b></th>
</tr>
<tr><td id="table2">
{ERROR}
<br>
<br>
<center><a href="javascript:top.history.back()" id="stdlink">zur&uuml;ck</a></center>
</td></tr>
</table>

</td></tr></table>  <!-- Netscape compatibility -->

</body>
</html>