<html>
<head>
<base href="{HTMLURL}">
<link rel="stylesheet" href="style.css">
<title>{CHATNAME}</title>
<SCRIPT LANGUAGE="JavaScript" src="chat.js" type="text/javascript">
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
	cgi="{CGI}";
</SCRIPT>
</head>
<body id="body" marginwidth=36 leftmargin=36>

<div align="center">
	<br>
	<img src="/images/hier_vielleicht_ihr_Logo_einfuegen.gif" border=0>
	<br><br>
</div>

<div id="headertext">
	<br>
	<br>
	Und hier vieleicht eine Begr&uuml;&szlig;ungsnachricht...<br>
	Wenn Ihr Probleme beim Betreten des Chats habt, lest bitte die <a href="faq.html" id=stdlink target="_blank">FAQ</a>
	<br>
	<br>
{NEWS}
	<br>
</div>

<table border=0 width=100% cellspacing=0 cellpadding=10>
<tr>
	<td width=70% valign=top>

<table border=0 width=100% cellspacing=0 id="lines"><tr><td>  <!-- Netscape compatibility -->

<table border=0 width=100% cellspacing=1>
<tr>
	<th>User Login</th>
</tr>
<tr id="table2"><td><table>
<tr>
	<td colspan=2>Noch keinen Namen f&uuml;r den Chat reserviert? Ein neuer Chat-Account kann <a href="{CGI}&action=register">hier</a> eingerichtet werden.</td>
</tr>
<tr>
	<td colspan=2>&nbsp;</td>
</tr>
<form method=POST action="{CGI}&action=frames" target="_top">
{ROWS}
</form>
<tr>
	<td colspan=2 align=center id="smalltext">
		<a href="javascript:showReminder()">Pa&szlig;wort vergessen? Hier klicken!</a>
	</td>
</tr>
</table></td></tr>
</table>

</td></tr></table>  <!-- Netscape compatibility -->

	</td>
	<td width=30% valign=top>

<table border=0 width=100% cellspacing=0 id="lines"><tr><td>  <!-- Netscape compatibility -->

<table border=0 width=100% cellspacing=1>
<tr>
	<th>
{COUNT}
Benutzer online</th>
</tr>
{USERS}
</table>	
	</td>
</tr>
</table>

</td></tr></table>  <!-- Netscape compatibility -->

<div align=center id="headertext">
	GTChat 0.93 &copy; 2001 by <a href="http://www.gtchat.de/" id="stdlink" target="_blank">Wladimir Palant</a>
</div>

</body>
</html>