<html>
<head>
<base href="{HTMLURL}">
<link rel="stylesheet" href="style.css">
<title>
{TITLE}
</title>
<SCRIPT LANGUAGE="JavaScript" src="chat.js" type="text/javascript">
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
	cgi="{CGI}";
</SCRIPT>
</head>
<body id="body">
{COMMENT}
<table border=0 width=100% cellspacing=0 id="lines"><tr><td>  <!-- Netscape compatibility -->

<table border=0 width=100% cellspacing=1>
{ROWS}
</table>

</td></tr></table>  <!-- Netscape compatibility -->

<div id="headertext" align="center">
	<a href="javascript:window.close()" id="stdlink">Fenster schlie&szlig;en</a>
</div>
</body>
</html> 