<html>
<head>
<base href="{HTMLURL}">
<link rel="stylesheet" href="style.css">
<title>{CHATNAME}</title>
</head>
<body id="body" marginwidth=36 marginheight=36 leftmargin=36 topmargin=36>

<table align=center border=0 cellspacing=0 id="lines"><tr><td>  <!-- Netscape compatibility -->

<table border=0 cellspacing=1>
<tr>
	<th>User Login</th>
</tr>
<tr id="table2"><td><table>
<tr>
	<td colspan=2>Die Registrierung war erfolgreich. Sie k&ouml;nnen den Chat jetzt betreten.</td>
</tr>
<tr>
	<td colspan=2>&nbsp;</td>
</tr>
<form method=POST action="{CGI}&action=frames" target="_top">
{ROWS}
</form>
</table></td></tr>
</table>

</td></tr></table>  <!-- Netscape compatibility -->

</body>
</html>