<html>
<head>
<base href="{HTMLURL}">
<link rel="stylesheet" href="style.css">
<title>{CHATNAME}</title>
<SCRIPT LANGUAGE="JavaScript" src="chat.js" type="text/javascript">
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
	cgi="{CGI}";
</SCRIPT>
</head>
<body id="body" marginheight=0 marginwidth=2 leftmargin=2 topmargin=0>

<table border=0 width=100% cellspacing=0 id="lines"><tr><td>  <!-- Netscape compatibility -->

<table border=0 width=100% cellspacing=1>
<tr>
	<th>
{ROOM}
	</th>
</tr>
<tr id="table2">
	<td><table>
{USERS}
	</table></td>
</tr>
</table>

</td></tr></table>  <!-- Netscape compatibility -->
</body>
</html> 